@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.toolbar {
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.toolbar img {
  margin-top: 25px;
}

.logo h2 {
  color: #6070fc;
}

.logo :hover {
  border-style: solid;
  border-radius: 2px;
  border-color: brown;
}

.headline-section h1 {
  color: #172b4d;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  width: 375px;
  height: 604px;
  background-image: url(images/header-shapes.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.headline-section h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.welcome {
  height: 150px;
  width: 250px;
}

.flex-social {
  display: flex;
  width: 170.17px;
  height: 20px;
  flex-grow: 0;
  margin: 12px 0;
}

.flex-social img {
  height: 20px;
  width: 21px;
}

.flex-social div {
  margin: 5px;
}

.introduction {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex-grow: 0;
  margin: 12px 0;
}

.works {
  display: grid;
}

.btn {
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}

.works-1 {
  border-radius: 25px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  width: 330px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  height: 540px;
}

.snapshot {
  height: 220px;
  width: 320px;
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.snapshot img {
  height: 220px;
  width: 320px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 320px;
  height: 100px;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.project_title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: -20px;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 320px;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.primary-text ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 236px;
  height: 32px;
  order: 1;
  flex-grow: 0;
  margin-top: -25px;
}

ul li {
  margin-right: 8px;
}

.client {
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a8699;
}

.left-block p {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  margin-top: -20px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 203px;
  height: 24px;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.tags div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  order: 1;
  flex-grow: 0;
  margin: 0 8px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project-link {
  width: 295px;
  height: 72px;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.project-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  width: 375px;
  height: 1125.15px;
  left: calc(50% - 375px / 2);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 409px;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.top h2 {
  width: 200px;
  height: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.top p {
  width: 327px;
  height: 144px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.top .social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 200px;
  height: 80px;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.social-media h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.skill-list {
  margin-top: 20px;
}

.skill-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 327px;
  height: 464.15px;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.frame-languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frame-lang {
  display: flex;
  justify-content: space-between;
  width: 319px;
}

.frame-lang p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.frame-lang img {
  padding: 8px;
  height: 40px;
  border-radius: 8px;
}

.language-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  width: 327px;
  height: 248.15px;
}

.frame-css {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-grow: 0;
  margin: 12px 0;
}

.frame-css img {
  width: 48px;
  height: 48px;
  margin-right: 25px;
}

.frame-css p {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
}

button:hover {
  background-color: rgb(240, 240, 243);
}

button:active {
  transform: scale(1.5);
}
